body
    {
        display: flex;
        justify-content: center; 
        align-items: center;
        /* align-content: center;  */
        height: 100vh; 
        background-color: lightcoral; 
        margin: 5%;
        background-image: url('/images/background.png');
    }
    
    .pokedex
    {
        background-color: #ff5555; 
        height: 85%;
        width: 85%;
        border: 4px solid #000;
        border-radius: 5%;
        align-content: center;
        margin: 10px;
        position: relative;
        box-shadow: 7px 2px 10px 2px black;
        text-align: center;
    }
    
    .screen
    {
        width: 90%; 
        height: 55vh; 
        background-color: lightblue; 
        border: 5px solid black; 
        border-radius: 10px; 
        position: relative;
        margin: auto;
        align-self: center;
        align-items: center;
        align-content: center;
    }

    .buttons
    {
        width: 100%; 
        height: 10vh;
        margin: auto;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .button { 
        width: 100%; 
        height: 40%; 
        background-color: rgba(7, 7, 212, 0.824); 
        border-radius: 20%; 
        margin: 10px ;
        border: 2px;
        padding: 0; 
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    .imagen-pokemon
    {
        height: 100%;
        width: 99%;
        text-align: center;
        align-content: center;
        border: 2px black solid;
        margin: 10px;
        background-image: url('/images/backgroundScreen.png');
        background-size: cover;
        background-position: center;
    }

    .container-top-lights
    {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
        border: auto;
        margin: auto;
    }

    .top-light
    {
        height: 20%;
        width: 5%;
        background-color: #f0f0f0;
        border-radius: 50%;
        background: radial-gradient(circle, #ffeb3b, #fbc02d);
        box-shadow: 
            inset 1px 1px 2px rgba(0, 0, 0, 0.3),
            inset -1px -1px 2px rgb(233, 229, 229),
            1px 1px 2px rgba(0, 0, 0, 0.2);
        margin: 7px 5px 5px 5px;
    }

    .top-left-light
    {
        height: 40%;
        width: 9%;
        border-radius: 50%;
        margin: auto;
        display: flex;
        margin: 7px;
    }

    .contenedor-buscador-pokemons
    {
        display: flex;
        margin: auto;
        height: 8vh;
        width: 80%;
        text-align: center;
    }

    .buscador-pokemon
    {
        width: 100%;
        height: 60%;
        background-color: #ffdd57;
        justify-items: center;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 15px;
    }

    .boton-buscar
    {
        width: 90%;
        height: 60%;
        text-align: center;
        border: none;
        margin-left: 10px;
        margin-bottom: 20px;
        border-radius: 10%;
        background-color: #0ab933;
        box-shadow: 0px 0px 5px 0px;}

    .boton-buscar:active
    {
        box-shadow: 
        inset 5px 5px 15px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.5)
    }

    p, strong{
        margin-bottom: 3px;
    }

    .camera-lens {

        background: radial-gradient(circle, #444, #000);
        border: 5px solid #222;
        border-radius: 50%;
        position: relative;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    }
    
    .inner-lens {
        width: 80%;
        height: 80%;
        background: radial-gradient(circle,#4a90e2, #222);
        border-radius: 50%;
        position: absolute;
        top: 10%;
        left: 10%;
        box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reflection {
        width: 20%;
        height: 20%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        border-radius: 50%;
        position: absolute;
        top: 20%;
        left: 20%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    /* .light-effect {
        width: 60%;
        height: 60%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
        border-radius: 50%;
        position: absolute;
        top: 10%;
        left: 10%;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        opacity: 0.7;
        animation: light-animation 2s infinite alternate;
    } */